In [34]:
import pandas as pd

In [35]:
fg_data_df = pd.read_excel('fg_data.xlsx', engine='openpyxl')

In [36]:
fg_data_df.head()

,Regular/Playoffs,Stadium,Indoor/Outdoor,Home,TEAM,Year,Game,Kicker,Distance,Made,Miss,Single,H/A,Play by play text
0,R,tor,O,TOR,HAM,2016,10,Maher,39,Y,NaN,NaN,A,"(04:41) B. MAHER Field Goal (39 yds), Good"
1,R,tor,O,TOR,HAM,2016,10,Maher,38,Y,NaN,NaN,A,"(12:10) B. MAHER Field Goal (38 yds), Good"
2,R,tor,O,TOR,HAM,2016,10,Maher,50,Y,NaN,NaN,A,"(08:58) B. MAHER Field Goal (50 yds), Good"
3,R,tor,O,TOR,TOR,2016,10,Hajrullahu,40,Y,NaN,NaN,H,"(03:37) L. HAJRULLAHU Field Goal (40 yds), Good"
4,R,tor,O,TOR,TOR,2016,10,Hajrullahu,51,Y,NaN,NaN,H,"(00:04) L. HAJRULLAHU Field Goal (51 yds), Good"

In [37]:
print(fg_data_df['Stadium'].unique())

['tor' 'wpg' 'edm' 'bc' 'mtl' 'ssk' 'ham' 'cgy' 'ott']

In [47]:
def clean_df_fg(df):
   # drop columns not interested in
   df = df.drop(['Regular/Playoffs', 'Game', 'Play by play text', 'Single', 'Miss'], axis=1)
   # fill in nan values with 0 for Made col
   df['Made'] = df['Made'].fillna(0)
   # replace Y and y in Made col with 1 to make it a binary column
   df = df.replace({'Made': {'Y': 1, 'y': 1}})
   return df

fg_data_df_clean = clean_df_fg(fg_data_df)
fg_data_df_clean['Made'].value_counts()

1    1594
0     286
Name: Made, dtype: int64

## Get Accuuracies for Each range of Fg's by 5 yards
### Plot misses by distance

In [65]:
def get_accuracy(df):
   made_fgs = (df['Made'] == 1).sum()
   missed_fgs = (df['Made'] == 0).sum()
   accuracy = (made_fgs / (made_fgs + missed_fgs)).round(3)*100
   return accuracy

def get_distance_accuracies(df):
   df015_acc = get_accuracy(df.loc[(df['Distance'] >= 0) & (df['Distance'] <= 15)]) 
   df1629_acc = get_accuracy(df.loc[(df['Distance'] >= 16) & (df['Distance'] <= 29)])
   df3035_acc = get_accuracy(df.loc[(df['Distance'] >= 30) & (df['Distance'] <= 35)])
   df3640_acc = get_accuracy(df.loc[(df['Distance'] >= 36) & (df['Distance'] <= 40)])
   df4145_acc = get_accuracy(df.loc[(df['Distance'] >= 41) & (df['Distance'] <= 45)])
   df4650_acc = get_accuracy(df.loc[(df['Distance'] >= 46) & (df['Distance'] <= 50)])
   df51_acc = get_accuracy(df.loc[(df['Distance'] >= 51)])
   accuracies = [df015_acc,df1629_acc, df3035_acc,df3640_acc, df4145_acc, df4650_acc, df51_acc]
   print(accuracies)

get_distance_accuracies(fg_data_df_clean)

# get_accuracy(fg_data_df_clean)

[98.1, 97.8, 85.8, 81.6, 78.0, 68.89999999999999, 63.2]