In [1]:
import sqlite3 as sql
import pandas as pd

%load_ext sql
%sql sqlite:///exercise1.db

In [4]:
%%sql sqlite://
CREATE TABLE courses(
    code_module TEXT,
    code_presentation TEXT,
    module_presentation_length INTEGER 
);

Done.

[]

In [2]:
%%sql
DROP TABLE courses

 * sqlite:///exercise1.db
Done.

[]

In [3]:
%sql DELETE FROM courses;

 * sqlite:///exercise1.db
(sqlite3.OperationalError) no such table: courses
[SQL: DELETE FROM courses;]
(Background on this error at: http://sqlalche.me/e/14/e3q8)

In [4]:
import os
import csv

fin = open(os.path.join('data', 'courses.csv'), 'rt')
csv_in = csv.reader(fin)
next(csv_in);

for line in csv_in:
    print(line)
    
fin.close()

['AAA', '2013J', '268']
['AAA', '2014J', '269']
['BBB', '2013J', '268']
['BBB', '2014J', '262']
['BBB', '2013B', '240']
['BBB', '2014B', '234']
['CCC', '2014J', '269']
['CCC', '2014B', '241']
['DDD', '2013J', '261']
['DDD', '2014J', '262']
['DDD', '2013B', '240']
['DDD', '2014B', '241']
['EEE', '2013J', '268']
['EEE', '2014J', '269']
['EEE', '2014B', '241']
['FFF', '2013J', '268']
['FFF', '2014J', '269']
['FFF', '2013B', '240']
['FFF', '2014B', '241']
['GGG', '2013J', '261']
['GGG', '2014J', '269']
['GGG', '2014B', '241']