## We have reached the end of the demonstration section. Now it's your turn!
See if you can create the structure for the other tables and populate the tables with the values from the CSV files using Python. Be warned, not all data types are obvious! We have some boolean types, some date representations and other challenging data types to map.

If you find this easy then feel free to go ahead and try to take the exercise further. For example you could:
- Produce summary statistics for the columns using COUNT, AVG, SUM etc.
- Create some small visualisations of the data. We cover plotting later on in the course, so this might be a nice precursor to exploring tools like Matplotlib.
- If you really want to explore more deeply you might want to look at some advanced SQL functions, for instance by  combining multiple queries using JOINS or UNIONS.

In [2]:
import csv, sqlite3
import pandas as pd

con = sqlite3.connect('exercise1.db')
cur = con.cursor()
# cur.execute('''DROP TABLE courses''')

## Create SQL table from a Pandas Dataframe

In [3]:
df = pd.read_csv('data/studentAssessment.csv')
df.head()
df.to_sql('studentAssessment', con)

ValueError: Table 'studentAssessment' already exists.

## CREATE TABLE

In [8]:
# cur.execute('CREATE TABLE courses (code_module TEXT, code_presentation TEXT, module_presentation_length INTEGER);')
# cur.execute('CREATE TABLE assessments (code_module TEXT, code_presentation TEXT, id_assessment INTEGER, assessment_type TEXT, date INTEGER, weight INT);')
# cur.execute('CREATE TABLE studentAssessments (id_assessment INTEGER, id_student INTEGER, date_submitted INTEGER, is_banked INTEGER, score INTEGER);')
# cur.execute('CREATE TABLE courses (code_module TEXT, code_presentation TEXT, module_presentation_length INTEGER);')
# cur.execute('CREATE TABLE courses (code_module TEXT, code_presentation TEXT, module_presentation_length INTEGER);')

## Read in CSV data and add to Table

In [4]:
# OPTION A - using Reader
# would like to be able to adapt this to iterate over the values in the row as well so its more robust for different datasets

with open('data/courses.csv', 'rt') as fin:
    reader = csv.reader(fin)
    #skip header row
    next(reader)
    to_db = [(row[0], row[1], row[2]) for row in reader]
    print(to_db)
    

# OPTION B - using DictReader  
# with open('data/courses.csv', 'rt') as fin:
#     dr = csv.DictReader(fin)
#     to_db = [(i['code_module'], i['code_presentation'], i['module_presentation_length']) for i in dr]
#     print(to_db)


# cur.executemany('INSERT INTO courses(code_module, code_presentation, module_presentation_length) VALUES (?, ?, ?);', to_db)

[('AAA', '2013J', '268'), ('AAA', '2014J', '269'), ('BBB', '2013J', '268'), ('BBB', '2014J', '262'), ('BBB', '2013B', '240'), ('BBB', '2014B', '234'), ('CCC', '2014J', '269'), ('CCC', '2014B', '241'), ('DDD', '2013J', '261'), ('DDD', '2014J', '262'), ('DDD', '2013B', '240'), ('DDD', '2014B', '241'), ('EEE', '2013J', '268'), ('EEE', '2014J', '269'), ('EEE', '2014B', '241'), ('FFF', '2013J', '268'), ('FFF', '2014J', '269'), ('FFF', '2013B', '240'), ('FFF', '2014B', '241'), ('GGG', '2013J', '261'), ('GGG', '2014J', '269'), ('GGG', '2014B', '241')]

## Delete the courses from the table

In [52]:
# DELETE ALL COURSES

cur.execute('DELETE FROM courses')

OperationalError: database is locked

In [7]:

result = cur.execute('SELECT * FROM studentAssessment').fetchone()
print(result)

(0, 1752, 11391, 18, 0, 78.0)

In [54]:
con.commit()
con.close()