## Ch. 6 - Data Loading, Storage and File Formats

# 6.1 Reading and Writing Data in Text Format

### `read_csv` be usin the most


### Reading Docs Links 
- Python ‘[14.1. csv – CSV file reading and writing](https://docs.python.org/3/library/csv.html)’, Python language documentation – 14. File formats

- Python ‘[pandas.read_csv](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_csv.html)’, pandas 0.22.0 documentation – API reference

- Python ‘[pandas.DataFrame.to_csv](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.to_csv.html)’, pandas 0.22.0 documentation – API reference – pandas.DataFrame

- Python ‘[API reference – Reindexing / Selection/ Label manipulation](https://pandas.pydata.org/pandas-docs/stable/reference/index.html)’, pandas 0.22.0 documentation

- Python ‘[pandas.read_json](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_json.html)’, pandas 0.22.0 documentation – API reference

In [4]:
import pandas as pd

df = pd.read_csv('Data/sample4.csv')
df

     Game Number   "Game Length"
0              1              30
1              2              29
2              3              31
3              4              16
4              5              24
..           ...             ...
995          996              24
996          997              21
997          998              47
998          999              30
999         1000              12

[1000 rows x 2 columns]

In [ ]:
_