In [2]:
import numpy as np 
import pandas as pd 

myseries = pd.Series(['one', 'two', np.nan, 'four', None, 'six'])
#check for null values - true = a null value
myseries.isnull()

0    False
1    False
2     True
3    False
4     True
5    False
dtype: bool

In [4]:
not_null = myseries[myseries.notnull()]
# OR
not_null2 = myseries.dropna()

#not_null

0     one
1     two
3    four
5     six
dtype: object

In [109]:
from numpy import nan as NA 
df = pd.DataFrame(np.random.rand(10,10))
df.head()

,0,1,2,3,4,5,6,7,8,9
0,0.587618,0.076195,0.475571,0.829146,0.916906,0.993331,0.303230,0.602480,0.157112,0.088415
1,0.267397,0.538446,0.638075,0.969956,0.391095,0.355672,0.964287,0.887517,0.041644,0.091943
2,0.897201,0.351348,0.681184,0.111238,0.535027,0.168709,0.960095,0.641954,0.300010,0.947810
3,0.051868,0.830295,0.794653,0.453581,0.284494,0.303057,0.707674,0.394436,0.133688,0.232331
4,0.818034,0.254707,0.870860,0.428552,0.534732,0.706591,0.934051,0.344422,0.723124,0.488986

In [110]:
# convert some values to nan
df[df.iloc[:10] >= 0.9] = np.nan

# find total null values in columns
print(df[:].isnull().sum())
df.head()

0    0
1    1
2    0
3    1
4    1
5    1
6    4
7    0
8    1
9    2
dtype: int64

,0,1,2,3,4,5,6,7,8,9
0,0.587618,0.076195,0.475571,0.829146,NaN,NaN,0.303230,0.602480,0.157112,0.088415
1,0.267397,0.538446,0.638075,NaN,0.391095,0.355672,NaN,0.887517,0.041644,0.091943
2,0.897201,0.351348,0.681184,0.111238,0.535027,0.168709,NaN,0.641954,0.300010,NaN
3,0.051868,0.830295,0.794653,0.453581,0.284494,0.303057,0.707674,0.394436,0.133688,0.232331
4,0.818034,0.254707,0.870860,0.428552,0.534732,0.706591,NaN,0.344422,0.723124,0.488986

In [90]:
#replace nan with 0's
# df = df.replace(np.nan, 0)
# df.head()

,0,1,2,3,4,5,6,7,8,9
0,0.704894,0.830950,0.207935,0.000000,0.819313,0.705150,0.330730,0.000000,0.887157,0.566184
1,0.000000,0.196073,0.641091,0.021722,0.649079,0.018475,0.538238,0.864246,0.000000,0.373188
2,0.778562,0.386202,0.048813,0.801933,0.000000,0.737954,0.088101,0.729174,0.431101,0.812246
3,0.174850,0.053098,0.741618,0.195393,0.179980,0.413402,0.753677,0.690991,0.452842,0.760757
4,0.396409,0.279249,0.000000,0.311042,0.000000,0.269622,0.686821,0.845420,0.823648,0.474266

## want to relpace 0's with a more middle ground value to not skew statistics
## fill with mean of data

In [111]:
average = df.mean()
print(average.mean())
df.fillna(average.mean(), inplace=True)

0.46254569452038813

In [114]:
#create array from df
values = df.values
# print(values)

## Advanced Options - Using `SimpleImputer` to replace values in place
Using SimpleImputer as a ML tool - other option would be KNN (K nearest neighbor) and others

In [119]:
from numpy import isnan
from numpy import nan
from sklearn.impute import SimpleImputer

df = pd.DataFrame(np.random.rand(10,10))

# convert some values to nan
df[df.iloc[:10] >= 0.9] = np.nan
values = df.values
#machine learning tools - other option is KNN (k nearest neighbor)
print(values[0])
#define missing values to replace
#define strategy for replacement - in this case most frequent values
imputer = SimpleImputer(missing_values=nan, strategy='most_frequent')
transformed_values = imputer.fit_transform(values)
transformed_values[0]

[0.1096959  0.54460545 0.87674371        nan        nan 0.60834536
 0.37324452 0.57731888 0.8725214  0.71256772]

array([0.1096959 , 0.54460545, 0.87674371, 0.04509647, 0.08132353,
       0.60834536, 0.37324452, 0.57731888, 0.8725214 , 0.71256772])