In [8]:
import pandas as pd 
import numpy as np

In [5]:
df = pd.read_csv('data/pima-indians-diabetes.csv')
df.head()

,times_pregnant,plasma_glucose_concentration,diastolic_blood_pressure,triceps_thickness,2-hour_serum_insulin,BMI,diabetes_pedigreen,age,diabetes
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [6]:
df.describe()

,times_pregnant,plasma_glucose_concentration,diastolic_blood_pressure,triceps_thickness,2-hour_serum_insulin,BMI,diabetes_pedigreen,age,diabetes
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,120.894531,69.105469,20.536458,79.799479,31.992578,0.471876,33.240885,0.348958
std,3.369578,31.972618,19.355807,15.952218,115.244002,7.884160,0.331329,11.760232,0.476951
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,62.000000,0.000000,0.000000,27.300000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,30.500000,32.000000,0.372500,29.000000,0.000000
75%,6.000000,140.250000,80.000000,32.000000,127.250000,36.600000,0.626250,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

In [7]:
df.dtypes

#to change types
# df['diabetes'] = df['diabetes'].astype(int)

times_pregnant                    int64
plasma_glucose_concentration      int64
diastolic_blood_pressure          int64
triceps_thickness                 int64
2-hour_serum_insulin              int64
BMI                             float64
diabetes_pedigreen              float64
age                               int64
diabetes                          int64
dtype: object

## find that 0's are used for missing or empty values - convert to NaN
## iterate through columns using numpy to replace 0's with NaN

In [9]:
#create a df copy
df2 = df.copy()
for col in df2.columns[1:7]:
    df2[col] = df2[col].replace(0, np.nan)

df2.head()

,times_pregnant,plasma_glucose_concentration,diastolic_blood_pressure,triceps_thickness,2-hour_serum_insulin,BMI,diabetes_pedigreen,age,diabetes
0,6,148.0,72.0,35.0,NaN,33.6,0.627,50,1
1,1,85.0,66.0,29.0,NaN,26.6,0.351,31,0
2,8,183.0,64.0,NaN,NaN,23.3,0.672,32,1
3,1,89.0,66.0,23.0,94.0,28.1,0.167,21,0
4,0,137.0,40.0,35.0,168.0,43.1,2.288,33,1

## Alternate replace - using inplace replacement

In [13]:
df3 = df.copy()
#have to specify the columns and values or else will replace every 0 with Nan and we want to keep the diabetes and times_pregnant 0 
df3.replace({'plasma_glucose_concentration': 0, 'diastolic_blood_pressure': 0, 'triceps_thickness': 0}, np.nan, inplace=True)
df3.head()

,times_pregnant,plasma_glucose_concentration,diastolic_blood_pressure,triceps_thickness,2-hour_serum_insulin,BMI,diabetes_pedigreen,age,diabetes
0,6,148.0,72.0,35.0,0,33.6,0.627,50,1
1,1,85.0,66.0,29.0,0,26.6,0.351,31,0
2,8,183.0,64.0,NaN,0,23.3,0.672,32,1
3,1,89.0,66.0,23.0,94,28.1,0.167,21,0
4,0,137.0,40.0,35.0,168,43.1,2.288,33,1

## Outliers
### can say that any value plus or minus some number of standard deviations away from the mean constitutes an outlier
### in this case select 2.5 standard deviations to consider a data point an outlier
What to do with values we find as outliers??
- can remove it and replace with NaN
- can replace it with original mean
    - preserves the original mean
- imputation (not covered in video)
    - runs a model from non-missing data in order to predict the values of missing cells

In [14]:
df2.describe()

,times_pregnant,plasma_glucose_concentration,diastolic_blood_pressure,triceps_thickness,2-hour_serum_insulin,BMI,diabetes_pedigreen,age,diabetes
count,768.000000,763.000000,733.000000,541.000000,394.000000,757.000000,768.000000,768.000000,768.000000
mean,3.845052,121.686763,72.405184,29.153420,155.548223,32.457464,0.471876,33.240885,0.348958
std,3.369578,30.535641,12.382158,10.476982,118.775855,6.924988,0.331329,11.760232,0.476951
min,0.000000,44.000000,24.000000,7.000000,14.000000,18.200000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,64.000000,22.000000,76.250000,27.500000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,72.000000,29.000000,125.000000,32.300000,0.372500,29.000000,0.000000
75%,6.000000,141.000000,80.000000,36.000000,190.000000,36.600000,0.626250,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

### replace outliers with mean

In [18]:
plasma_mean = np.mean(df2['plasma_glucose_concentration'])
plasma_std = np.std(df2['plasma_glucose_concentration'])
print(plasma_mean,plasma_std)

# replace outliers with original mean
df4 = df2.copy()

for (i,val) in enumerate(df3['plasma_glucose_concentration']):
    if (val > plasma_mean + 2.5*plasma_std) or (val < plasma_mean - 2.5*plasma_std):
        df4.at[i, 'plasma_glucose_concentration'] = plasma_mean
        print('replaced outlier: ', i, val)

121.6867627785059 30.515624262345657
replaced outlier:  62 44.0
replaced outlier:  561 198.0
replaced outlier:  661 199.0

In [20]:
df4.describe()

,times_pregnant,plasma_glucose_concentration,diastolic_blood_pressure,triceps_thickness,2-hour_serum_insulin,BMI,diabetes_pedigreen,age,diabetes
count,768.000000,763.000000,733.000000,541.000000,394.000000,757.000000,768.000000,768.000000,768.000000
mean,3.845052,121.587235,72.405184,29.153420,155.548223,32.457464,0.471876,33.240885,0.348958
std,3.369578,30.149764,12.382158,10.476982,118.775855,6.924988,0.331329,11.760232,0.476951
min,0.000000,56.000000,24.000000,7.000000,14.000000,18.200000,0.078000,21.000000,0.000000
25%,1.000000,99.500000,64.000000,22.000000,76.250000,27.500000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,72.000000,29.000000,125.000000,32.300000,0.372500,29.000000,0.000000
75%,6.000000,140.000000,80.000000,36.000000,190.000000,36.600000,0.626250,41.000000,1.000000
max,17.000000,197.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

## Alternative - more robust approach to replacing outliers

In [21]:
df5 = df2.copy()

df5.loc[df5['plasma_glucose_concentration'] > (plasma_mean + ( plasma_std * 2.5 )), 'plasma_glucose_concentration'] = plasma_mean
df5.loc[df5['plasma_glucose_concentration'] < (plasma_mean - ( plasma_std * 2.5 )), 'plasma_glucose_concentration'] = plasma_mean

df5.describe()

,times_pregnant,plasma_glucose_concentration,diastolic_blood_pressure,triceps_thickness,2-hour_serum_insulin,BMI,diabetes_pedigreen,age,diabetes
count,768.000000,763.000000,733.000000,541.000000,394.000000,757.000000,768.000000,768.000000,768.000000
mean,3.845052,121.587235,72.405184,29.153420,155.548223,32.457464,0.471876,33.240885,0.348958
std,3.369578,30.149764,12.382158,10.476982,118.775855,6.924988,0.331329,11.760232,0.476951
min,0.000000,56.000000,24.000000,7.000000,14.000000,18.200000,0.078000,21.000000,0.000000
25%,1.000000,99.500000,64.000000,22.000000,76.250000,27.500000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,72.000000,29.000000,125.000000,32.300000,0.372500,29.000000,0.000000
75%,6.000000,140.000000,80.000000,36.000000,190.000000,36.600000,0.626250,41.000000,1.000000
max,17.000000,197.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

## Alt - using a mask

In [23]:
df6 = df2.copy()

threshold = plasma_std*2.5

mask = (df5['plasma_glucose_concentration'] > ( plasma_mean + threshold)) | (df5['plasma_glucose_concentration'] < ( plasma_mean - threshold))

df6.loc[mask, 'plasma_glucose_concentration'] = plasma_mean

df6.describe()
#broken - didn't remove

,times_pregnant,plasma_glucose_concentration,diastolic_blood_pressure,triceps_thickness,2-hour_serum_insulin,BMI,diabetes_pedigreen,age,diabetes
count,768.000000,763.000000,733.000000,541.000000,394.000000,757.000000,768.000000,768.000000,768.000000
mean,3.845052,121.686763,72.405184,29.153420,155.548223,32.457464,0.471876,33.240885,0.348958
std,3.369578,30.535641,12.382158,10.476982,118.775855,6.924988,0.331329,11.760232,0.476951
min,0.000000,44.000000,24.000000,7.000000,14.000000,18.200000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,64.000000,22.000000,76.250000,27.500000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,72.000000,29.000000,125.000000,32.300000,0.372500,29.000000,0.000000
75%,6.000000,141.000000,80.000000,36.000000,190.000000,36.600000,0.626250,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000